@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="/microsoft-linux.png" /> 
    <h1 class="display-4">PTC - TEAM - WebApp v21-11-23 v1</h1>
    <p>Start to Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core v1</a>.</p>
</div>
